.header {
    color: #7700ff;
    margin: 30px;
    font-size: 100px;
}
.link {
    color: aquamarine;
    margin: 40px;
}
.box {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto auto;
    margin: 10px;
}
.button {
    margin: 10px;
    color: lightseagreen;
}
