.header {
    color: #7700ff;
    margin: 30px;
    font-size: 100px;
}
.link {
    color:aquamarine;
    margin: 40px;
}
.box {
    margin: 50px;
}
.button {
    margin: 10px;
    color:lightseagreen
}
